@media only screen and (max-width: 1200px){
    .res-container,
    .shimmer-Container {
      grid-template-columns: repeat(3, 260px);
    }
    .menu-category{
        width: 60%;
    }
    
    .item-add-btn{
        right: 25px;
    }
    .about-us {
        gap: 60px;
    }
    .founder-text,.about-us p{
        font-size: 18px;
    }
    
    .contactus-container{
        /* flex-direction: column; */
    }
    .leaflet-container {
        width: 500px;
    }
    .contact-us-form{
        margin-left: 80px;
    }
}
@media only screen and (max-width: 1050px){ 
    .contact-us-form{
    margin-left: 40px;
}

.about-us p{
    width: 444px;
}
.about-us-image{
    width: 400px;
}

}
@media only screen and (max-width: 900px){
    .res-container,
    .shimmer-Container {
      grid-template-columns: repeat(2, 260px);
    }
    .menu-category{
        width: 70%;
    }
    .leaflet-container {
        width: 500px;
    }
    .contactus-container{
        flex-direction: column;
    }
    .contact-us-form{
        margin-top: 20px;
        margin-left: 48px;
    width: 500px;
    }
    /* .about-us p{
        width: 350px;
    } */
    .about-us{
        flex-direction: column;
    }
    .about-us-image{
        width: 600px;
        margin-top: 0;
    }
    .about-us p{
        width: 600px;
    }
    .founder-text,.about-us p{
        font-size: 22px;
    }
    .founder-image{
        width: 200px;
        height: auto;
    }
}
@media only screen and (max-width: 790px){
    .menu-category{
        width: 75%;
    }
    /* .about-us-image {
        margin-right: 55px;
      } */
      .founder-text,.about-us p{
        font-size: 16px;
    }
    .about-us{
        flex-direction: column;
    }
    .about-us-image{
        display: none;
    }
    .cart-container {
        gap: 50px;
    }
    .cart-items {
        /* margin-left:100px; */
        width: 55%;
      }
      .clear-cart-btn{
        margin-left: 20%;
      }
}
@media only screen and (max-width: 688px){
    .res-container,
    .shimmer-Container {
      grid-template-columns: repeat(2, 260px);
    
    }
    .res-menu-section{
        width: 75%;
    }
    .menu-category{
        width: 75%;
    }
    .contactus-container{
        flex-direction: column;
    
    }
    .founder-image {
        width: 200px;
        height: 270px;
      }
      .about-us{
        margin-bottom: -50px;
      }
      .cart-container {
        flex-direction:column ;
    }
    .cart-items {
        /* margin-left:100px; */
        width: 75%;
        margin-left: 85px;
      }
      .total-cart-price{
        width: 290px;
  margin-left: 150px;
      }
      .clear-cart-btn{
        display: none;
      }
}
@media only screen and (max-width: 650px){
    .about-us p{
        width: 400px;
    }
}
@media only screen and (max-width: 600px){

    .item-img {
        width: 32%;
    }
    /* .founder-section{
        flex-direction: column;
    } */
    .founder-image{
        margin-top: 81px;
  margin-left: 26px;
    }
}
@media only screen and (max-width: 580px){
    /* nav */
    .res-container,
    .shimmer-Container {
      grid-template-columns: repeat(1, 260px);
    }
    .search-input{
        width: 290px;
    }
    .item-img {
        width: 32%;
    }
    .item-add-btn {
        width: 3.5rem;
        /* right: 26px; */
        padding: 0;
      }
      .contact-us-form{
        /* margin-top: 20px;
        margin-left: 48px; */
    width: 350px;
    }
    .leaflet-container {
        width: 350px;
    }
    .founder-text,.about-us p{
        font-size: 15px;
    }
    .total-cart-price{
  margin-left: 100px;
      }
}
@media only screen and (max-width: 500px){
    .item-img {
        width: 40%;
    }
    /* .contact-us-form {
        width: 350PX;
    } */
    .founder-text,.about-us p{
        font-size: 13px;
    }
    .founder-image {
        width: 175px;
        height: 270px;
      }
}
@media only screen and (max-width: 458px){
    .about-us p{
        font-size: 13px;
    }
    .founder-text{
        font-size: 12px;
    }
    .about-us p{
        width: 300px;
    }
    /* .founder-image {
        width: 100px;
        height: 200px;
      } */
    /* .founder-section{
        flex-direction: column;
    } */
    .total-cart-price{
    
  margin-left: 75px;
      }
      .cart-items {
        margin-left: 62px;
      }
}
@media only screen and (max-width: 400px){
    .item-img {
        width: 50%;
    }
    .search-input{
        width: 249px;
  margin-right: -1px;
    }
    .contact-us-form {
        width: 250px;
    }
    .leaflet-container {
        width: 250px;
    }
    .founder-text{
        width: 200px;
    }
    .founder-text,.about-us p{
        font-size: 10px;
    }
    .founder-image {
        width: 100px;
        height: 170px;
      } 
      .total-cart-price{
    
        margin-left: 55px;
            }
            .cart-items {
              margin-left: 50px;
            }
}
@media only screen and (max-width: 360px){
    .item-img {
        width: 60%;
    }
    .total-cart-price{
    
        margin-left: 20px;
            }
            .cart-items {
              margin-left: 30px;
            }
}
