* {
  margin: 0;
  padding: 0;
}
body {
  margin-top: 100px;
}
/* Header section  */
.header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #fff;
}
.logo {
  width: 135px;
  height: auto;
  padding-left: 8px;
}
a:link{
  text-decoration: none;
  color:#242424
}
a:visited{
  color:#242424
}
.nav-items ul li {
  display: inline-block;
  margin-left: 30px;
  margin-top: 23px;
  font-size: 22px;
}
.nav-items ul li a {
  color: #444;
  font-family: PT Sans, Calibri, sans-serif;
  font-weight: bold;
}
.nav-items ul li a:link {
  text-decoration: none;
  transition: all 0.8s;
}
.nav-items ul li a:hover {
  color: #e67e22;
  transition: all 0.5s;
}

.log-btn {
  padding: 5px;
  padding-right: 8px;
  margin-right: 20px;
  font-family: PT Sans, Calibri, sans-serif;
  background-color: #fff;
  border: none;
  font-size: 22px;
  color: #444;
  font-weight: bold;
  position: relative;
}
.log-btn:hover {
  color: #e67e22;
  cursor: pointer;
}
button > span {
  margin-left: 1px;
  font-size: 10px;
  position: absolute;
  top: 12px;
}
/* Filter Search and Rating */
.filter {
  display: flex;
  justify-content: center;
  margin-top: 125px;
  gap: 10px;
}
.search {
  position: relative;
  margin-bottom: 40px;
}
.search-button {
  position: absolute;
  padding: 9px;
  right: 0;
  border: 1px;
  height: 35px;
  background-color: #e67e22;
  border-radius: 0 5px 5px 0;
  color: #111;
  font-size: 12px;
  cursor: pointer;
}
.search-input {
  width: 422px;
  height: 22px;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  font-size: large;
  border: 2px solid #ccc;
  transition: border-color 0.3s;
  outline: none;
  font-family: PT Sans, Calibri, sans-serif;
}
.search-input:focus {
  border-color: #e67e22;
}

.filter-btn{
  border: 1px #ccc solid;
  border-radius: 10px;
  background-color: #e6e6e6;
  padding: 5px;
  height: 28px;

  margin-top: 4px;
  color: #111;
  font-family: PT Sans, Calibri, sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
}
.filter-btn:active,
.filter-btn:focus {
    background-color: rgb(32, 182, 32);
    border: 1px black solid;
}
.search-button:hover,.filter-btn:hover{
  background-color: rgb(32, 182, 32);;
}
/* Rescontainer and rescards */
.res-container{
  display: grid;
  grid-template-columns: repeat(4,260px);
  gap:30px;
  grid-template-rows:repeat(5,250px);
  justify-content: center;

}
.res-card{
  box-shadow: 4px 5px 10px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px;

}
.res-card *{
  margin-left: 8px;
  font-family: PT Sans, Calibri, sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.res-logo{
  width: 225px;
  border-radius: 5px;
  margin: 7px;
}
.res-card p{
  margin-bottom: 10px;
 
}
.res-card span:nth-child(4){
  color: white;
  padding: 4px;
  background-color: green;
  font-weight: bold;
  border-radius: 6px;
}