* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin-top: 100px;
  font-family: PT Sans, Calibri, sans-serif;
  /* min-height: 100vh; */
}
/* Header section  */
.header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #fff;
}
.logo {
  width: 135px;
  height: auto;
  padding-left: 8px;
}
a:link {
  text-decoration: none;
  color: #242424;
}
a:visited {
  color: #242424;
}
.nav-items ul{
  margin-right: 20px;
}
.nav-items ul li {
  display: inline-block;
  margin-left: 30px;
  margin-top: 23px;
  font-size: 22px;
}
.nav-items ul li a {
  color: #444;

  font-weight: bold;
}
.nav-items ul li a:link {
  text-decoration: none;
  transition: all 0.8s;
}
.nav-items ul li a:hover {
  color: #e67e22;
  transition: all 0.5s;
}
.nav-items ul li a:focus {
  color: #e26200;
  /* background-color:rgb(32, 182, 32);
  border-radius: 5px;
  padding: 5px; */
}
.log-btn {
  padding: 5px;
  padding-right: 8px;
  margin-right: 20px;

  background-color: #fff;
  border: none;
  font-size: 22px;
  color: #444;
  font-weight: bold;
  position: relative;
}
.log-btn:hover {
  color: #e67e22;
  cursor: pointer;
}
button > span {
  margin-left: 1px;
  font-size: 10px;
  position: absolute;
  top: 12px;
}
/* Filter Search and Rating */
.filter {
  display: flex;
  justify-content: center;
  margin-top: 125px;
  gap: 20px;
}
.search {
  position: relative;
  margin-bottom: 40px;
}
.search-button {
  position: absolute;
  padding: 9px;
  right: 0;
  border: 1px;
  height: 35px;
  background-color: #e67e22;
  border-radius: 0 5px 5px 0;
  color: #111;
  font-size: 12px;
  cursor: pointer;
}
.search-input {
  width: 422px;
  height: 36px;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  font-size: large;
  border: 2px solid #ccc;
  transition: border-color 0.3s;
  outline: none;
}
.search-input:focus {
  border-color: #e67e22;
}

.filter-btn {
  border: 1px #ccc solid;
  border-radius: 10px;
  background-color: #e6e6e6;
  padding: 5px;
  height: 28px;

  margin-top: 4px;
  color: #111;

  letter-spacing: 1px;
  cursor: pointer;
}
.filter-btn:active,
.filter-btn:focus {
  background-color: rgb(32, 182, 32);
  border: 1px black solid;
}
.search-button:hover,
.filter-btn:hover {
  background-color: rgb(32, 182, 32);
}
/* Rescontainer and rescards */
.res-container {
  display: grid;
  grid-template-columns: repeat(4, 260px);
  gap: 40px;
  grid-template-rows: repeat(5, 250px);
  justify-content: center;
}
.res-card {
  box-shadow: 4px 5px 10px 5px #ccc;
  border-radius: 10px;
  padding: 10px;
}
.res-card:hover {
  transform: scale(1.05);
}
.res-card * {
  margin-left: 8px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.res-logo {
  width: 225px;
  border-radius: 5px;
  margin: 7px;
}
.res-card p {
  margin-top: 3px;
  margin-bottom: 10px;
}
.res-card span:nth-child(4) {
  color: white;
  padding: 4px;
  background-color: green;
  font-weight: bold;
  border-radius: 6px;
}

.shimmer-Container {
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(4, 260px);
  gap: 30px;
  grid-template-rows: repeat(5, 250px);
  justify-content: center;
}
.shimmer-card {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  box-shadow: 4px 5px 10px 5px #e6e5e5;
  border-radius: 10px;
  padding: 10px;
  animation: shimmer 1.5s infinite linear;
}

/* Res-menu and Category */
.res-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.res-menu-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 640px;
}
.res-menu-section p {
  font-size: 0.875rem;
  color: #888;
  line-height: 1.5;
}
.res-menu-section p:first-child {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 2.75rem;
  color: #333;
}
.res-menu-section p:nth-child(4) {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.res-menu-section span {
  color: #333;
  font-size: 1.125rem;
  font-weight: bold;
}
.res-menu-section span:last-child {
  margin: 1.25rem;
}
.res-rating {
  border: 1px solid rgb(229 231 235);
  border-width: 2px;
  border-radius: 0.5rem;
  height: 3.6rem;
  margin-bottom: 1.5rem;
}
.res-rating p:first-child {
  color: rgb(32, 182, 32);
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: center;
}
hr {
  color: #ccc;
}
/* Res-category */
.menu-category {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 0.125rem;
  background-color: rgb(249 250 251);
  padding: 1rem;
  border-radius: 6px;
  color: rgb(40 44 63);
  cursor: pointer;
}
.menu-category-title {
  display: flex;
  justify-content: space-between;
}
.menu-category-title span {
  font-size: 1.3rem;
  line-height: 1.75;
  font-weight: 700;
  color: #333;
}
/* menu Item list */
.menu-item-container {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 0.5rem;
  margin: 0.5rem;
  border-bottom: 2px solid rgb(229 231 235);
}
.menu-item-card {
  width: 75%;
}
.menu-item-card p:first-child {
  font-size: 19px;
  margin-bottom: 6px;
}
.menu-item-card p:last-child {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #888;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  max-height: 2.4rem;
}
.item-img {
  width: 25%;
  padding: 1rem;
}
.item-img img {
  width: 100%;
  height: auto;
}
.item-add {
  position: relative;
}
.item-add-btn {
  position: absolute;
  bottom: 9px;
  right: 45px;
  width: 4rem;
  color: rgb(34 197 94);
  padding: 0 1rem;
  border: 1px solid white;
  border-radius: 3px;
  font-size: 17px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}
/* Empty Cart */
.empty-cart h1 {
  text-align: center;
  margin-bottom: 20px;
}
.empty-cart h1 span a{
  color:#e67e22
}
.empty-cart h1 span a:hover{
  transform:translateX(30px)
}
.empty-cart-img {
  width: 50%;
  margin-left: 25%;
}
.cart-items > p {
  font-size: 2rem;
  margin-bottom: 14px;
  font-weight: 700;
  color: #333;
  margin-left: 10px;
}

.clear-cart-btn {
  display: block;
  margin-top: 20px;
  margin-left: 33%;
  padding: 10px 20px;
  font-weight: bold;
  background-color: lightcoral;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.cart-container {
  display: flex;
  /* gap: 10px; */
  justify-content: center;
  gap: 140px;
  margin-top: 133px;
}

.cart-items {
  /* margin-left:100px; */
  width: 45%;
}
.cart-checkout {
  width: 100%;
  height: 46px;
  cursor: pointer;
  background-color: #e67e22;
  border-radius: 5px;
  font-size: large;
  margin-top: 10px;
}
.cart-checkout:hover {
  color: white;
  background-color: green;
  border-color: white;
}
.total-cart-price {
  /* background-color:wheat; */
  padding: 25px;
  margin-top: 84px;
  border-radius: 6px;
  height: 285px;
  box-shadow: 4px 5px 10px 5px #ccc;
  line-height: 2;
}
.total-cart-price h2 {
  margin-bottom: 23px;
}
th {
  text-align: left;
}
table {
  padding: 2px;

  /* background-color:wheat ; */
  width: 210px;
}
.about-us {
  display: flex;
  /* margin: 100px; */
  /* line-height: 1; */
  margin: 0 50px;
  gap: 70px;
  margin-bottom: 20px;
}
.about-us-content {
  width: 52%;
}
.about-us h1 {
  margin-bottom: 20px;
}
.about-us-image {
  border-radius: 36px;
  margin-top: 60px;
  width: 600px;
  height: 288px;
}
.about-us p {
  line-height: 1.5;
  font-size: 22px;
}
.founder-section{
  display: flex;
  gap: 46px;
}
.founder-image{
  width: 350px;
    margin-left: 59px;
    border-radius: 34px;
    margin-top: 50px;
}
.founder-text{
  margin-top:20px;
  font-size: 22px;
  line-height: 1.7;
    margin-right: 60px;
}
.founder-words h2{
  text-align: center;
  margin-top: 40px;
  margin-right: 60px;
}
.contactus-container{
  /* display: flex */
  margin: 0 70px;
    margin-top: 35px;
    position: relative;
}
.leaflet-container {
  width: 50%;
  height: 400px;
}
.contactus-content{
  margin: 50px;
}
.contactus-content p{
  font-size: 65px;
  margin-top: 20px;
  line-height: 1.5;
text-align: center;
}
.contactus-content:first-child{
  font-size: 65px;
}
.contactus-content p:last-child{
  color:dimgrey;
  font-size:22px;
}
.contact-us-form {
  width: 30%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 800px;
  /* height: 335px; */
}

.contact-us-form h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

.contact-us-form input,
textarea {
  padding: 8px;
  margin-bottom: 10px;
}

.contact-us-form button {
  background-color: #e67e22;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-us-form button:hover {
  background-color: green;
}

/* Footer */
/* .footer {
  margin-top: 10px;
  text-align: center;
  font-size: large;
} */
.app-footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: 100px;
}
.footer-name a:link ,.footer-name a:visited{
  color: white;
}
.footer-name a:hover{
  color:#e67e22
}
.footer-content {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-links a {
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
}

.social-links a:hover {
  text-decoration: underline;
}

